.login-form{
    text-align: center;
    padding-top: 100px;
}
.text-fields {
    width: 70%;
    margin-left: 60px;
    margin-right: 60px;
}

.form-buttons {
    width: 70%;
    margin-left: 60px;
    margin-right: 60px;
}
.toolbar .identification {
    margin-right: 40px;
    text-align: right;
}

.toolbar .identification .name {
    font-size: 14px;
    margin-right: 3px;
}

.toolbar .identification .role {
    font-size: 11px;
}
.toolbar .identification .role .security {
    font-size: 17px;
}