<div layout="row" layout-align="center center" class="login-form">
    <md-content class="md-whiteframe-15dp">
        <h1>Control de Acceso</h1>
        <div class="text-fields" layout="column">
            <md-input-container class="md-icon-float md-block">
                <label>Correo</label>
                <md-icon><i class="material-icons">mail_outline</i></md-icon>
                <input type="email">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Contraseña</label>
                <md-icon><i class="material-icons">lock_outline</i></md-icon>
                <input type="password" >
            </md-input-container>
        </div>
        <div class="form-buttons" layout="column">
            <md-button class="md-raised md-primary">Ingresar</md-button>
            <md-button md-no-ink class="md-accent">¿olvidastes tu contraseña?</md-button>
        </div>
    </md-content>
</div>
